/*------------
Config general
------------*/

* {
  box-sizing: border-box;
  margin : 0;
}

a { text-decoration: none; }
a:visited { color: transparent;}

li { list-style-type: none; }

img {
  
  max-width: 100%;
  height: auto; 
}

main {
  display: flex;
  flex-direction: column;
  font-family: $font-family-sans-serif;
  color: $font-color-dark;
  background-color: $background;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  padding: 1rem;

  background-color: $contrast-color;
}

footer {
  padding: 2rem;
  background-color: $contrast-color;
}

@media screen and (max-width: 450px) {

  * {
    font-size: 0.9rem;
  }
}





/*------------
Common 
------------*/

.contrast { color : $contrast-color; }
.contrast-hover:hover { color : $contrast-color-hover}
.ligth-color { color: $font-color-ligth;}
.sherif { font-family: $font-family-serif; }

.margins-v {
  margin-top:    3rem;
  margin-bottom: 3rem;
}

.shadow { box-shadow: 4px 4px 10px $medium-contrast-color;}


.logo {
  margin-left: 3rem;
  font-size: 2rem;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.gap-1 { gap: 1rem;}
.gap-3 { gap: 3rem;}


.body-container {
  width: 60%;
  margin-right:  auto;
  margin-bottom: 5rem;
  margin-left:   auto;
}

.header-nav {
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 992px) {

  .header-nav { flex-direction: column; }
  .body-container { width: 90%; }

}





/*------------
Main page 
------------*/

.title {
  padding: .5rem;
  margin-top:    15vh;
  margin-bottom: 15vh;
  font-size: 3.5rem;
  text-align: center;
  text-shadow: 2px 4px 8px $soft-contrast-color;
}

.second-title { font-size: 2.5rem;}
.place-title {  font-size: 2rem; }

.title-background {
  background-image: $cover-image;
  background-position: center 40%;
  background-size: cover;
}

.introduction {
  font-size: 1.2rem;
  line-height: 1.5rem;
}





/*------------
Place-Info
------------*/

.divider{
  align-self: center;
  width: 90%;
  color: $soft-contrast-color
}

.place-card { 
  display: flex;
  flex-direction: row;
  padding: 1rem; 

}

.place-card-body { padding: 1rem; }

@media screen and (max-width: 992px) {

  .place-card {  flex-direction: column; }
}