* {
  box-sizing: border-box;
  margin : 0;
}

a { text-decoration: none; }
li { list-style-type: none; }

main {
  //Posicionamiento
  //Modelo de caja
  display: flex;
  flex-direction: column;

  //Tipografía
  font-family: $font-family-sans-serif;
  color: $font-color-dark;

  //Visual55555555555555555555555555
  background-color: $background;
}

header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 1rem;

  background-color: $contrast-color;
  color: $font-color-ligth;
}

.introduction {
  line-height: 1.5rem;
  font-size: 1.2rem;
}
.contrast { color : $contrast-color; }
.sherif { font-family: $font-family-serif; }

.title {

  margin-top: 15vh;
  margin-bottom: 15vh;
  
  text-align: center;
  font-size: 3.5rem;
  text-shadow: 3px 4px 8px rgba(255, 255, 255, 0.3);
}

.second-title {

  font-size: 2.5rem;
}


.title-background {
  
  margin-bottom: 5rem;

  background-image: url('../images/cover.jpg');
  background-position: center 40%;

}

.body-container {

  width: 60%;
  margin: 0 auto;

}